.container{
    width: 100%;
    height: calc(100vh - 80px);
    max-height: 700px;
    position: relative;
    overflow: hidden;
}

@media (max-width: 768px){
    .container{
        max-height: 400px;
    }
}